[Unit]
Description=yeah
After=network.target
StartLimitIntervalSec=0
StartLimitBurst=infinity

[Service]
ExecStart=/usr/bin/nodejs /home/user/BBSender/src/index.js
Restart=always
RestartSec=1
WorkingDirectory=/home/user/BBSender

[Install]
WantedBy=multi-user.target
